@import './variables';

// Button
.doc-btn {
    color: white !important;
    background-color: #19b2b5 !important;
    border: 1px solid #19b2b5 !important;
    padding: .4rem 1.3rem;

    &:hover {
        background-color: #259597 !important;
        border: 1px solid #259597 !important;
    }
}

//card
.card-shadow{
    transition: .5s ease-in-out;
    &:hover{
        box-shadow: 0 5px 10px 2px #0002;
        transform: scale(1.02);
    }
}

//text
.text-doctor{
    color:$main-doc-color;
}

.bg-main-gradient{
    background: linear-gradient(0deg, $light-doc-color 0%, $light-doc-color 47%, $light-pro-color 99%, $light-pro-color 100%);
}

//waves
div.wave-shape img {
    width: 100%;
    height: 50px;
    transform: translateY(-100%);
}

// Search Bar
div.search-contains {
    span {
        font-size: 1.5rem;
        margin: 0 .5rem;
        text-transform: uppercase;
    }

    select {
        width: 150px;
        height: $search-btn-l;
        border: 0;
        outline: none;
        background-color: white;
        border: 1px solid $light-doc-color;
        border-radius: 2rem;
        padding: .2rem .8rem;
        text-align: center;
        vertical-align: middle;
    }

    div.search-btn {
        width:  $search-btn-l;
        height: $search-btn-l;
        border-radius: 3rem;
        padding: 0;
    }
}

/* checkboxes */
.checkbox-wrapper-33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 2px;
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(.11, .29, .18, .98);

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        cursor: pointer;

        +.checkbox {
            margin-top: var(--s-small);
        }

        .icon-checkbox {
            width: 1em;
            height: 1em;
            margin: auto;
            fill: none;
            stroke-width: 3;
            stroke: currentColor;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            color: $main-doc-color;
            display: inline-block;

            path {
                transition: stroke-dashoffset var(--t-fast) var(--e-in);
                stroke-dasharray: 30px, 31px;
                stroke-dashoffset: 31px;
            }
        }
    }

    .checkbox__symbol {
        display: inline-block;
        display: flex;
        margin-right: calc(var(--s-small) * 0.7);
        border: var(--border-width) solid $main-doc-color;
        border-radius: .2rem;
        position: relative;
        width: 1.5em;
        height: 1.5em;
        transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
        box-shadow: 0 0 0 0 $main-doc-color-33opacity;

        &:after {
            content: "";
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            width: 0.25em;
            height: 0.25em;
            background-color: $main-doc-color-33opacity;
            opacity: 0;
            border-radius: 3em;
            transform: scale(1);
            transform-origin: 50% 50%;
        }
    }

    .checkbox__textwrapper {
        margin: 0;
    }

    .checkbox__trigger {
        &:checked+.checkbox__symbol {
            &:after {
                -webkit-animation: ripple-33 1.5s var(--e-out);
                animation: ripple-33 1.5s var(--e-out);
            }

            .icon-checkbox path {
                transition: stroke-dashoffset var(--t-base) var(--e-out);
                stroke-dashoffset: 0px;
            }
        }

        &:focus+.checkbox__symbol {
            box-shadow: 0 0 0 0.25em $main-doc-color-33opacity;
        }
    }

    /* inputs and textareas */
    input,
    textarea {
        border: 2px solid $main-doc-color !important;
        width: 100%;
    }

    input:focus,
    textarea:focus {
        border: 2px solid $main-doc-color !important;
        box-shadow: $main-doc-color 0px 6px 12px -2px, #ffffff4d 0px 3px 7px -3px !important;
        outline: none !important;
    }

}