// main colors
$main-doc-color-33opacity : #25959733;
$main-doc-color : #259597;
$main-pro-color : #084ea5;
$light-doc-color : #19b2b5;
$light-pro-color : #0c77aa;
$pro-user-color : #ffc107;

$search-btn-l : 40px;